body{
	height:auto;
	width:auto;
	background-color:#EEEEEE;
}
#main{
	height:100%;
	width:98%;
	
}
img{
	width:67px;
}
p{
	color:#344455;
	font-family:sans-serif;
	text-align:center;
}
.table
{
	margin-left:0%;
	width: 439px;
	height: 352px;
}

#header
{
	width:100%;
	height:20%;
	background-color:#344455;
	
	}	
#left
{
float: left;
width: 20%;
height:80%;
background-color:#EEEEEE;
	}
#center
{
float:left;
width: 50%;
height:80%;
background-color:#EEEEEE;
}
#center .table
{
margin-right: auto;
margin-left: auto;
	
	}

#right
{
float:right;
width: 27%;
height:80%;
background-color:#EEEEEE;

}
#footer
{
  

width: 100%;
height:100%;
float:right;
text-align:center;
background-color:#344455;
color:White;
}
#button
{
    float:right;
    }


#h_master
{
	width:100%;
	height:20%;	
	}